<h{{ .Level }} id="{{ .Anchor | safeURL }}">{{ .Text | safeHTML }} <a href="#{{ .Anchor | safeURL }}" class="anchor" aria-hidden="true"><i class="fa-solid fa-link" style="font-size: 0.6em;"></i></a></h{{ .Level }}>