{{ define "main" }}
    <div>
        {{ range .Pages.ByWeight }}
        <div id="list-item" class="mt-4">
            <a class="text-decoration-none text-reset" href="{{ .Permalink }}">
                <div class="card h-100 features feature-full-bg rounded p-3 position-relative overflow-hidden border-1">
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <span class="icon-color d-flex my-3">
                            <i class="{{- .Params.icon | default "" }}"></i>
                            {{ if .Draft }}<span class="badge bg-default ms-2 fs-6 align-middle">DRAFT</span>{{ end }}
                        </span>
                        <p class="fs-5 fw-semibold card-title mb-1">{{ .Title }}</p>

                        {{ if .IsSection }}<i class="fa-regular fa-folder icon-faint align-middle ms-auto" title="Directory"></i>{{ end }}
                    </div>
                    <div class="card-body p-0 content">
                        <p class="para card-text mb-0">{{ .Description | truncate (.Site.Params.docs.listDescTrunc | default 100) | markdownify }}</p>
                    </div>
                    <!-- <div class="position-absolute top-0 end-0">
                        <i class="material-icons opacity-05">{{- .Params.icon }}</i>
                    </div> -->
                </div>
            </a>
        </div><!--end col-->
        {{ end }}
    </div>
{{ end }}