@import "../../../assets/scss/mocha";

$prefix:                      bs-;

$btn-link-color:              var(--#{$prefix}link-color);
$btn-link-hover-color:        var(--#{$prefix}link-hover-color);

:root {
    --white: #ffffff;
    --gray-50: #f7fafc;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --black: #000000;

    --primary: #{$mauve};

    --link-color:                              var(--primary);
    --link-decoration:                         underline;
    --link-shade-percentage:                   20%;
    --link-hover-decoration:                   null;

    // Core
    --text-default: #{$text};
    --text-default-inv: #{$text};
    --text-muted: #{$subtext1};
    // --#{$prefix}secondary-color: var(--gray-600);

    --body-color: #{$text};

    --body-bg: #{$mantle};

    // Text
    --text-dark: #{$text};
    --text-light: #{$text};

    // Fonts
    --fw-medium: 600;

    // Shadows
    --shadow-sm: 0 .125rem .25rem rgba(var(--dark), .15);
    --shadow: 0 0 3px rgba(var(--dark), .15);
    --shadow-md: 0 5px 13px rgba(var(--dark), .2);
    --shadow-lg: 0 10px 25px rgba(var(--dark), 0.15);

    // Overlay
    --overlay: rgba(var(--dark), 0.7);
    --bg-overlay-white: rgba(var(--white), 0.5);

    // Back to top
    --back-to-top-color: var(--white);

    // Simplebar
    --simplebar-color: #adb5bd;

    // Footer
    --footer: #202942;
    --footer-bg: var(--white);
    --foot-social-color: #adb5bd;
    --social-border-color: #adb5bd;
    --foot-social-color-white: var(--white);

    // lightness variables
    --l-100: 100%;

    // Buttons
    --btn-soft-color: var(--primary);
    --btn-soft-bg: transparent;
    --btn-soft-border: #{$surface0};

    --btn-primary-color: var(--white);
    --btn-primary-bg: var(--primary);
    --btn-primary-border: transparent;

    --btn-default-color: var(--text-default);
    --btn-default-hover-color: var(--primary);
    --btn-default-bg: transparent;
    --btn-default-border: transparent;

    // Icons
    --icon-color: var(--primary);

    --folder: "\e2c7";
    --article: "\ef42";
    --dash: "\f88a";
    --dir-right: "\e5da";

    // Cards
    --card-bg: #{$mantle};
    --card-border-color: #{$overlay0};
    --card-border-hover-color: #{$mauve};

    // Sidebar
    --sidebar-primary: #{$surface0};
    --sidebar-primary-text: #{$mauve};
    --sidebar-bg: #{$crust};
    --top-header-bg: #{$crust};
    --sidebar-text-color: #{$text};
    --sidebar-border-color: #{$base};
    --sidebar-dropdown-hover-bg: #{$surface0};
    --sidebar-menu-active-bg: #{$mauve};
    --sidebar-icon-bg: transparent;
    --sidebar-light-icon: yellow;
    --sidebar-scrollbar-thumb-color: var(--gray-200);

    --sidebar-directory-icon: var(--dir-right);
    --sidebar-file-icon: var(--dash);
}

// [data-dark-mode] {

//     --body-bg: var(--dark);
//     --text-default: var(--text-light);
//     --text-default-inv: var(--text-dark);
//     --text-muted: #b6b9be;
//     // --#{$prefix}secondary-color: #6c757d;

//     // Buttons
//     --btn-soft-color: var(--gray-400);
//     --btn-soft-bg: none;
//     --btn-soft-border: var(--gray-800);

//     --btn-primary-color: var(--primary-200);
//     --btn-primary-bg: none;
//     --btn-primary-border: var(--gray-700);

//     --btn-default-color: var(--text-default);
//     --btn-default-hover-color: var(--primary-300);
//     --btn-default-bg: transparent;
//     --btn-default-border: transparent;

//     // Icons
//     --icon-color: #b6bbc9;

//     // Cards
//     --card-bg: none;
//     --card-border-color: var(--gray-800);
//     --card-border-hover-color: var(--primary-200);

//     // sidebar
//     --sidebar-primary: var(--primary-300);
//     --sidebar-bg: var(--dark);
//     --top-header-bg: hsla(233,16%,11%,0.8);
//     --sidebar-text-color: #b6bbc9;
//     --sidebar-border-color: var(--gray-900);
//     --sidebar-dropdown-hover-bg: #2b303b;
//     --sidebar-menu-active-bg: #2b303b;
//     --sidebar-icon-bg: #2b303b;
//     --sidebar-light-icon: #f8f9fa;
//     --sidebar-scrollbar-thumb-color: var(--gray-800);
// }