{{ $icon_array := dict
  "primary" "fa-solid fa-circle-info"
  "info" "fa-solid fa-circle-info"
  "warning" "fa-solid fa-triangle-exclamation"
  "success" "fa-solid fa-circle-check"
  "danger" "fa-solid fa-circle-exclamation"
  "default" "fa-solid fa-circle-info"
}}
<div class="alert alert-{{ with .Get "context" }}{{.}}{{ else }}default{{ end }} d-flex" role="alert">
  <div class="flex-shrink-1 alert-icon">
  {{ with .Get "icon" }}
  {{ . }}
  {{ else }}
  <i class="{{ with .Get "context" }}{{ index $icon_array . }}{{ else }}{{ $icon_array.default }}{{ end }} size-20 me-2 alert-icon">
  </i>
  {{- end -}}
  </div>
  <div>
  {{ with .Get "title" }}
  <h6>{{ . | $.Page.RenderString }}</h6>
  {{- end -}}
  {{ with .Get "text" }}
  <div class="w-100">{{ . | $.Page.RenderString }}</div>
  {{ else }}
  {{ with .InnerDeindent }}
  <div class="w-100">
  {{ . }}
  </div>
  {{ else }}
  {{ errorf "No valid text variable or Inner content given"}}
  {{- end -}}
  {{- end -}}

  {{ with .Get "text2" }}
  <div class="w-100">{{ . | $.Page.RenderString }}</div>
  {{- end -}}

  {{ if or (.Get "button1") (.Get "button2") }}
  <div class="pt-2" style="display: flex; gap: 1rem; justify-content: flex-end;">

  {{ $button1 := .Get "button1" }}
  {{ if $button1 }}
  <a href="{{ .Get "button1link" }}"><div class="card card-title" style="padding: 0.5rem 0.5rem">{{ $button1 | markdownify }}</div></a>
  {{ end }}

  {{ $button2 := .Get "button2" }}
  {{ if $button2 }}
  <a href="{{ .Get "button2link" }}"><div class="card card-title" style="padding: 0.5rem 0.5rem">{{ $button2 | markdownify }}</div></a>
  {{ end }}

  </div>
  {{ end }}

  </div>
</div>