{{ $icon_array := dict
  "primary" "fa-solid fa-circle-info"
  "info" "fa-solid fa-circle-info"
  "warning" "fa-solid fa-triangle-exclamation"
  "success" "fa-solid fa-circle-check"
  "danger" "fa-solid fa-circle-exclamation"
  "default" "fa-solid fa-circle-info"
}}
<div class="alert alert-{{ with .Get "context" }}{{.}}{{ else }}default{{ end }} d-flex" role="alert">
  <div class="flex-shrink-1 alert-icon">
  {{ with .Get "icon" }}
  {{ . }}
  {{ else }}
  <i class="{{ with .Get "context" }}{{ index $icon_array . }}{{ else }}{{ $icon_array.default }}{{ end }} size-20 me-2 alert-icon">
  </i>
  {{- end -}}
  </div>
  {{ with .Get "text" }}
  <div class="w-100">{{ . | $.Page.RenderString }}</div>
  {{ else }}
  {{ with .InnerDeindent }}
  <div class="w-100">
  {{ . }}
  </div>
  {{ else }}
  {{ errorf "No valid text variable or Inner content given"}}
  {{- end -}}
  {{- end -}}
</div>